<div>
	<span ng-show="invalidUNandPW == 'invalid'">Invalid Username and Password</span>
	<form name="formData" novalidate ng-submit="submit()">
		<table>
			<tr>
				<td>User Name</td>
				<td><input name="username" type="text" ng-model="userName"
					required></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input name="password" type="password" ng-model="passWord"
					required></td>
			</tr>
			<tr>
				<td><input type="submit" id="BtnLogin" value="Login" /></td>
			</tr>
		</table>
	</form>
</div>